.checkbox{
    display:inline-block;
}
.checkbox__input{
    opacity:0;
    height:1px;
    width:1px;
    pointer-events:none;
    position:absolute;
}
.checkbox__control{
    width:28px;
    height:28px;
    background:var(--white);
    border:1px solid var(--grey-2);
    box-sizing:border-box;
    border-radius:4px;
    position:relative;
}
.checkbox__state{
    display:flex;
    align-items:center;
    cursor:pointer;
}
.checkbox__legend{
    font-family:Inter,sans-serif;
    font-style:normal;
    font-weight:normal;
    font-size:16px;
    line-height:24px;
    color:var(--grey-4);
    margin-left:12px;
}
.checkbox__icon{
    height:13px;
    width:15px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.form-checkbox{
    display:grid;
    grid-gap: 1rem;
}
.checkbox-container{
    display:flex;
    flex-direction:column;
}
.checkbox__input:checked ~ .checkbox__state .checkbox__control{
    background:#4263EB;
    border-color:#4263EB;
}
.checkbox__input:checked ~ .checkbox__state .checkbox__icon{
    display:block;
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__control{
    background:var(--grey-2);
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__icon{
    display:none;
}
.checkbox__input:disabled ~ .checkbox__state{
    cursor:auto;
}