.form{
    margin-bottom: 1rem;
    display:flex;
    flex-direction: column;
    max-width: 350px;
}
.form__label{
    font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.2;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    color: var(--grey-3);
    margin-bottom: 5px;
    display: inline-flex;
}
.form__input-wrapper{
    position: relative;
    display:flex;
}
.form__input{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    height: 56px;
    width: 350px;
    background:var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 8px;
    color:var(--grey-4);
}
.form__input_invalid{
    border: 1px solid var(--error);
}
.form__input:focus{
    border-color:var(--primary);
}
.form__input_success:focus{
    border-color:var(--blue);
}
.form__input_invalid:focus{
    border-color:var(--error);
}
.form__success-icon{
    position: absolute;
    right:10px;
    top:15px;
}
.form__error-icon{
    position:absolute;
    right:10px;
    top:15px;
}